.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}

.profile-section, .skills-section {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-detail-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px; 
    margin-bottom: 40px; 
}
.user-details p {
    margin: 5px 0;
    width: 45%;
    text-align: left;
}

.skills-section h2 {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.skill-item {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.add-skill {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.add-skill input {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    flex: 1;
    height: 46px;
    box-sizing: border-box;
}

.add-skill .btn-custom {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 8px 30px;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 46px;
    margin-left: 16px;
    flex-shrink: 0; 
}

.add-skill .btn-custom:hover {
    background-color: #ff6347;
    transform: scale(1.1);
}
